<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <%- partial('_partial/head',{cache: true}) %>
</head>
<body class="font-sans bg-white dark:bg-zinc-900 text-gray-700 dark:text-gray-200 relative">
  <%- partial('_partial/header', {cache: true}) %>
  <main class="pt-14">
    <%- body %>
  </main>
  <%- partial('_partial/footer', {cache: true}) %>
  <div class="back-to-top box-border fixed right-6 z-1024 -bottom-20 rounded py-1 px-1 bg-slate-900 opacity-60 text-white cursor-pointer text-center dark:bg-slate-600">
    <span class="flex justify-center items-center text-sm">
      <iconify-icon width="18" icon="ion:arrow-up-c" id="go-top"></iconify-icon>
      <span id="scrollpercent"><span>0</span> %</span>
    </span>
  </div>
  <%- partial('_partial/after-footer') %>
  <div class="fixed top-0 bottom-0 left-0 right-0 pointer-events-none print:hidden" id="maple"></div>
</body>

</html>
