<article class="px-6 max-w-prose mx-auto md:px-0">
  <!-- header -->
  <header class="overflow-hidden pt-6 pb-6 md:pt-12">
    <div class="pt-4 md:pt-6">
      <h1 id="article-title" class="text-[2rem] font-bold leading-snug mb-4 md:mb-6 md:text-[2.6rem]">
        <%- page.title %>
      </h1>
      <p class="mb-6">
        <%- page.excerpt %>
      </p>
      <div>
        <section class="flex items-center gap-3 text-sm">
          <time><%- date(page.date, "YYYY-MM-DD HH:mm:ss") %></time>
        </section>
      </div>
    </div>
  </header>
  <!-- content -->
  <article class="mt-10 prose dark:prose-invert post-content">
    <%- page.content %>
  </article>
  <!-- tag -->
  <div class="mt-12 pt-6 border-t border-gray-200">
    <span class="bg-gray-100 dark:bg-gray-700 px-2 py-1 text-sm rounded-md transition-colors hover:bg-gray-200">
      <% if (page.tags && page.tags.length) { %>
        <% page.tags.forEach(function (tag) { %>
          <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
        <% }); %>
      <% } %>
    </span>
  </div>
  <!-- comment -->
  <div class="article-comments mt-12">
    <%- partial('_plugins/giscus') %>
  </div>
</article>
