<header class="header">
  <a href="<%- config.root %>" class="logo" focusable="false">
    <img src="<%- theme.logo %>" alt="<%- config.title %>" />
  </a>
  <nav class="nav">
    <div class="spacer"></div>
    <div class="right">
      <% for (var i in theme.nav){ %>
      <a class="item" href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
      <% } %>
      <a class="toggleDark" id="dark-mode">
        <img src="<%- url_for('/images/sun.svg') %>" alt="sun" id="sun-icon" style="display: none">
        <img src="<%- url_for('/images/moon.svg') %>" alt="sun" id="moon-icon" style="display: none">
      </a>
    </div>
  </nav>
</header>
