<header class="header">
  <a href="<%- config.root %>" class="logo" focusable="false">
    <img src="<%- theme.logo %>" alt="<%- config.title %>" />
  </a>
  <nav class="nav">
    <div class="spacer"></div>
    <div class="right">
      <% for (var i in theme.nav){ %>
      <a class="item" href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
      <% } %>
      <a href="">
        <span class="iconify" data-icon="uil:github-alt" data-inline="false"></span>
      </a>
      <a href="">
        <span class="iconify" data-icon="ri:weibo-line" data-inline="false"></span>
      </a>
      <a href="">
        <span class="iconify" data-icon="feather:twitter" data-inline="false"></span>
      </a>
      <a href="">
        <span class="iconify" data-icon="la:rss" data-inline="false"></span>
      </a>
      <a class="toggleDark" href="">
        <span class="iconify" data-icon="ri:sun-line" data-inline="false"></span>
      </a>
    </div>
  </nav>
</header>
